<%= link_to @book, class: "group relative" do %>
  <% if @book.free %>
    <span class="text-base bg-green-500/80 font-bold text-white px-2 mb-2 w-full inline-block py-1">Free </span>
  <% end %>
<% unless @book.cover.nil? || @book.cover.empty? %>
  <div class="mb-4 w-1/2 lg:w-full">
    <%= render BookCoverComponent.new(book: @book) %> 
  </div>
<% end %>


  <h3 class="text-red-500 hover:text-red-600 text-2xl leading-tight">
    <%= @book.title %>
  </h3>

  <span class="font-normal text-lg text-slate-700">
    by <%= @book.authors.map(&:name).join(", ") %>
  </span>
<% end %>
