<%= link_to @book, class: "group relative" do %>
<% unless @book.cover.nil? || @book.cover.empty? %>
  <div class="mb-4">
    <%= render BookCoverComponent.new(book: @book) %> 
  </div>
<% end %>

  <% if @book.free %>
    <span class="text-sm bg-green-500 font-bold text-white px-2 mt-4 mb-2 w-auto inline-block py-1">Free </span>
  <% end %>

  <h3 class="text-red-500 hover:text-red-600 text-2xl leading-tight">
    <%= @book.title %>
  </h3>

  <span class="font-normal text-lg text-slate-700">
    by <%= @book.authors.map(&:name).join(", ") %>
  </span>
<% end %>
