<%= link_to @book, class: "group relative" do %>

  <% unless @book.cover.nil? || @book.cover.empty? %>
    <div class="mb-4 w-1/2 lg:w-full">
      <%= render BookCoverComponent.new(book: @book) %> 
    </div>
  <% end %>

  <h3 class="hover:text-red-500 leading-tight">
    <%= @book.title %>
  </h3>

  <span class="font-normal text-lg text-slate-700">
    by <%= @book.authors.map(&:name).join(", ") %>
  </span>
<% end %>
