<div class="group flex md:flex-col gap-4 md:gap-2">
  <%= link_to @podcast, class: "flex-1" do %>

    <% unless @podcast.cover.empty? %>
      <%= image_tag("podcasts/#{@podcast.cover}", alt: "#{@podcast.title}", class: " shrink md:w-full xl:w-full md:mb-4 shadow-xl shadow-slate-800/30") %>
    <% end %>

    <h3 class="flex-1 font-medium mb-2 lg:w-full group-hover:text-sky-600 text-lg lg:text-2xl xl:leading-tight">
      <%= @podcast.title %>
    </h3>
  <% end %>
</div>
