<%= link_to @tag, class: "border rounded-sm bg-purple-50/30 hover:bg-purple-50 border-purple-100 p-5" do %>
  <h2 class="font-bold font-custom text-purple-500 hover:text-purple-600 text-xl leading-tight">
    <%= @tag.title %>
  </h2>
<% end %>
