<div class="grid lg:grid-cols-2 <%= @attr %> px-5 md:px-10 lg:px-16 gap-4 lg:gap-20">
  <h1 class="font-bold mb-4 lg:mb-0 text-3xl md:text-5xl">
    <%= @title %>
  </h1>
  <div class="max-w-xl leading-relaxed">
    <%= data %>
  </div>
</div>
