<div class="grid lg:grid-cols-2 <%= @attr %> lg:gap-20">
  <h1 class="mb-4 lg:mb-0 text-3xl w-2/3 md:text-4xl">
    <%= @title %>
  </h1>
  <div class="max-w-xl leading-relaxed">
    <%= data %>
  </div>
</div>
