<% content_for :hero do %>
  <%= render "shared/page_title", title: "Newsletters about Ruby and Ruby on Rails", description: "Get the latest news, tips, and tricks delivered right to your inbox. Read about interesting articles and blog posts about life and programming.", count: "#{Newsletter.count} newsletters"  %>
<% end %>

<% content_for :content do %>
  <h2 class="h2 mb-8">All Newsletters</h2>
  <%= render partial: "newsletters/list", locals: { list: @newsletters } %>
<% end %>
