<% content_for :hero do %>
  <%= render "shared/page_title", title: "Newsletters about Ruby and Ruby on Rails", description: "Get the latest news, tips, and tricks delivered right to your inbox. Read about interesting articles and blog posts about life and programming.", count: "#{Newsletter.count} newsletters"  %>
<% end %>
<% content_for :content do %>
  <%= render SearchTermComponent.new(search_term: params[:search_term]) %>
  <div class="flex flex-wrap justify-between mb-8 xl:mb-16 gap-x-8 gap-y-2 md:gap-8">
    <div>
      <h2 class="mb-8 h2">All Newsletters</h2>
    </div>
    <div>
      <%= render SearchComponent.new(path: newsletters_path, search_term: params[:search_term]) %>
    </div>
  </div>
  <%= render partial: "newsletters/list", locals: { list: @newsletters } %>
<% end %>
