<h1 class="font-bold mb-5 font-custom text-5xl">People</h1>
<p class="max-w-xl mb-10 md:mb-20">Book authors. Learn more about those who share knowledge in their books. </p>

<div class="grid grid-cols-1 lg:grid-cols-4 gap-4 md:gap-10 xl:gap-16">
  <div class="col-span-4 grid md:grid-cols-2 xl:grid-cols-4 place-items-stretch gap-4 lg:gap-6">
      <% @authors.each do |author| %>
        <%= link_to author, class: "font-custom border rounded-sm sm:aspect-video hover:bg-red-50 border-red-200 p-5 flex gap-2 font-bold text-red-500 hover:text-red-600 text-xl" do %>
          <%= author.name %>
        <% end %>
      <% end %>
    </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_author_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>

