<% content_for :hero do %>
  <%= render "shared/page_title", title: "People", description: "There are many people writing about Ruby, Ruby on Rails. Some of them are very experienced developers who have been using Ruby for years, and some are new developers who are just starting to learn the language. I've compiled a list of some of the best and brightest minds in the industry.", count: "#{Author.count} authors"  %>
<% end %>

<% content_for :content do %>
  <h2 class="h2 mb-8">All</h2>
  <%= render partial: "authors/list", locals: { list: @authors } %>
<% end %>
