<div class="space-y-12 md:space-y-28">
  <%= render Layout::TwoColumnsComponent.new(title: "#{@authors.count} authors writing about Ruby & Ruby on Rails") do |c| %>
    <%= c.with_data do %>
      <p>Learn more about those who share knowledge in their books.</p>
    <% end %>
  <% end %>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 px-5 md:px-10 lg:px-16  gap-10">
    <%= render (AuthorCardComponent.with_collection(@authors)) %>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_author_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>

