<div>
  <h2 class="text-3xl font-custom mb-8">Choose a topic you want to learn more about</h2>
  <div class="flex flex-wrap gap-2">
    <%= @tags.map { |t| link_to(t.title, t, class: "text-red-500 hover:text-red-500 bg-slate-100 px-4 py-2 hover:bg-slate-200/50") }.join(" ").html_safe %>
  </div>
</div>
