<% unless authors.authors.nil? || authors.authors.empty? %>
  <div>
    <span class="inline-block">
      <%= authors.authors.map { |author| link_to(author.name, author, class: "opacity-80 hover:text-red-500 transition font-custom text-base") }.join(", ").html_safe %>
    </span>
  </div>
<% end %>
