<% @books.each do |book| %>
  <%= link_to book, class: "border bg-red-50/30 rounded-sm hover:bg-red-50 border-red-100 p-5 flex justify-between gap-4 group" do %>
    <div>
      <h3 class="font-medium font-custom text-red-500 hover:text-red-600 text-2xl leading-tight">
        <%= book.title %>
      </h3>
      <span class="font-normal text-lg text-slate-700">
        by <%= book.authors.map(&:name).join(", ") %>
      </span>
    </div>
    <svg width="20" height="20" viewBox="0 0 20 20" class="group-hover:text-red-500 text-red-300 shrink-0"  fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14 3H19V15H13.9051C13.0148 15 12.1704 15.3955 11.6005 16.0794L10 18V6C10 3.84153 12.037 3 14 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M6 3H1V15H6.09488C6.98521 15 7.82956 15.3955 8.39954 16.0794L10 18V6C10 3.84153 7.963 3 6 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
  <% end %>
<% end %>

