<!-- breadcrumbs -->
<div class="flex mb-10 gap-2 text-base text-slate-500 items-center">
  <%= link_to "Home", root_path, class: "hover:text-red-600" %>

  <svg width="7" height="12" class="stroke-slate-400" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.682617 1.0571L5.78418 6.15863L0.682617 11.2602" /> </svg>

  <%= link_to local_assigns[:title], local_assigns[:path], class: "hover:text-red-600"  %>

  <svg width="7" height="12" class="stroke-slate-400" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.682617 1.0571L5.78418 6.15863L0.682617 11.2602" /> </svg>

  <span class="text-slate-400">
    <%= current_title %>
  </span>
</div>
