<section>
  <h2 class="mb-2 font-custom font-bold"> <%= yield %> </h2>

  <ul class="space-y-1">
    <% obj.each do |item| %>
      <li>
        <%= link_to item, class: "text-red-500 hover:text-red-600" do %>
          <% if local_assigns[:people] %>
            <%= item.name %>
          <% else %>
            <%= item.title %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
