<div class="<%= bg ? 'bg-slate-200 p-10 md:p-16' : '' %>">
  <h1 class="mb-8 font-custom text-3xl md:text-5xl">
    <%= model %> <%= title %><br/>about Ruby & Ruby on Rails
  </h1>
  <div class="md:ml-64 leading-relaxed">
    <p><%= description %></p>
  </div>
</div>
