<div class="<%= bg ? 'bg-slate-200 p-10 md:p-16' : '' %>">
  <h1 class="mb-4 font-bold font-custom text-3xl">
    <%= model %> <%= title %><br/>about Ruby & Ruby on Rails
  </h1>
  <div class="text-base text-slate-600 sm:ml-12">
    <p><%= description %></p>
  </div>
</div>
