  <h1 class="h1 2xl:w-1/3"><%= title %></h1>
  <div class="2xl:w-2/3">
    <p><%= description %></p>
  <div class="my-8 h-[1px] bg-slate-900/[0.1] [mask-image:linear-gradient(to_right,white_4rem,white_calc(100%-4rem),transparent)]"></div>

  <p class="tracking-tight text-base">
  <a href="https://twitter.com/nleonid" target="_blank" data-splitbee-event="go to my twitter" class="hover:text-sky-600 transition text-sky-500 mr-2 inline-flex gap-1 items-baseline leading-none"> 
    <svg viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="self-center h-4 w-4"><path d="M20.055 7.983c.011.174.011.347.011.523 0 5.338-3.92 11.494-11.09 11.494v-.003A10.755 10.755 0 0 1 3 18.186c.308.038.618.057.928.058a7.655 7.655 0 0 0 4.841-1.733c-1.668-.032-3.13-1.16-3.642-2.805a3.753 3.753 0 0 0 1.76-.07C5.07 13.256 3.76 11.6 3.76 9.676v-.05a3.77 3.77 0 0 0 1.77.505C3.816 8.945 3.288 6.583 4.322 4.737c1.98 2.524 4.9 4.058 8.034 4.22a4.137 4.137 0 0 1 1.128-3.86A3.807 3.807 0 0 1 19 5.274a7.657 7.657 0 0 0 2.475-.98c-.29.934-.9 1.729-1.713 2.233A7.54 7.54 0 0 0 22 5.89a8.084 8.084 0 0 1-1.945 2.093Z"></path></svg>
    Follow me</a> for the latest news and updates. If you have any ideas or suggestions, feel free to <a href="mailto:work.leonid@gmail.com" class="underline decoration-sky-300 hover:text-sky-500 hover:decoration-sky-500 transition">email me</a>. 
  </p>
  </div>
