<div class="flex flex-wrap gap-1 mb-4">
  <% tags.tags.each do |tag| %>
    <%= link_to tag, class: "bg-white rounded-full border border-slate-200 hover:border-slate-200/70 whitespace-nowrap hover:bg-white px-3 py-1 text-red-500 text-sm hover:text-red-600" do %>
      <%= tag.title %>
    <% end %>
  <% end %>
</div>
