<% unless tag.nil? || tag.empty? %>
  <div class="flex gap-2 flex-wrap sm:grid sm:grid-cols-2 xl:grid-cols-2 sm:gap-1">
    <% tag.each do |tag| %>
      <%= link_to tag, class: "break-normal inline-block lg:aspect-square text-xl xl:text-3xl font-custom text-slate-700 bg-white/80 hover:bg-white transition rounded-md p-4 sm:p-6" do %>
        <%= tag.title %>
      <% end %>
    <% end %>
  </div>
<% end %>
