<%= link_to local_assigns[:link], target: "_blank", class: "border bg-green-50/30 rounded-sm hover:bg-green-50 border-green-100 p-5 flex justify-between gap-4 group" do %>
    <div>
      <h3 class="font-medium font-custom text-green-500 hover:text-green-600 text-xl leading-tight">
        <%= title %>
      </h3>
      <p class="font-normal mb-4 text-lg"> by <%= author %> </p>
      <p class="text-base"><%= description %></p>
    </div>
  <% end %>

