<% title 'About' %>
<% description 'About this project' %>
<% content_for :hero do %>
  <h1 class="h1">About</h1>
<% end %>
<% content_for :content do %>
  <div class="flex 2xl:gap-20">
    <div class="px-5 space-y-20">
      <div class="max-w-6xl mt-auto space-y-8">
        <p>Hi,</p>
        <p>I am Lucian Ghinda, and I am building <a href="https://shortruby.com" target="_blank" class="text-sky-500 hover:text-sky-600">Short Ruby Newsletter</a></p>
        <p>The vision for this website is to aggregate a collection of resources about Ruby.</p>
        <p>Ruby and Rails info should be the home for anyone junior or senior that wants to learn more, find communities, to discover something new.
          <br>
          An easy way to browse the amazing content the community has to offer.
        </p>
        <p>
          You can follow me <a href="https://twitter.com/lucianghinda" target="_blank" class="text-sky-500 hover:text-sky-600">on Twitter @lucianghinda</a>
          or
          on Mastodon <a href="https://ruby.social/@lucian" target="_blank" class="text-sky-500 hover:text-sky-600">at ruby.social/@lucian</a>
        </p>
        <h3 class="text-2xl font-semibold">Add a new resource</h3>
        <p>If you want to add a resource to this website please email at <a href="mailto:help@shortruby.com" target="_blank" class="text-sky-500 hover:text-sky-600">help@shortruby.com</a></p>
      </div>
    </div>
  </div>
<% end %>
