<div class="p-10 mt-16">

  <aside class="bg-white border-2 relative border-slate-200/60 px-12 xl:px-10 py-10 rounded-3xl">

    <a href="#" class="border border-slate-200 flex h-10 w-10 shadow-sm shadow-slate-500/20 transition hover:text-violet-500 rounded-full justify-center items-center relative">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-1"> <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /> </svg>
    </a>

    <img src="https://www.colby.so/public/images/headshot.jpg" alt="" class="w-36 h-36 border-4 border-white -mt-28 mx-auto mb-4 shadow-md shadow-slate-900/10 border border-slate-800/20 rounded-full">
    <h1 class="font-custom text-5xl mb-8 text-center font-bold">David Colby</h1>

    <div class="flex flex-col lg:flex-row items-start gap-10 xl:gap-16">
      <div class="w-full lg:w-2/3">
        <p class="text-slate-600">From January 2011 to January 2021, I led product, engineering, and marketing (really) for CareerPlug, a bootstrapped SaaS company. Now, I write a lot, mostly tutorials focused on Ruby on Rails but sometimes other things that you might find interesting.</p>
      </div>

      <div class="pt-2 font-custom text-slate-500 text-base flex flex-col w-full lg:w-1/3 gap-2 items-start justify-start">
        <a href="#" class="flex gap-4 hover:text-violet-500 transition items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1"> <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" /> </svg>
         www.colby.com
        </a>
        <a href="#" class="flex gap-4 hover:text-violet-500 transition items-center">
          <svg viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="h-5 w-5"><path d="M20.055 7.983c.011.174.011.347.011.523 0 5.338-3.92 11.494-11.09 11.494v-.003A10.755 10.755 0 0 1 3 18.186c.308.038.618.057.928.058a7.655 7.655 0 0 0 4.841-1.733c-1.668-.032-3.13-1.16-3.642-2.805a3.753 3.753 0 0 0 1.76-.07C5.07 13.256 3.76 11.6 3.76 9.676v-.05a3.77 3.77 0 0 0 1.77.505C3.816 8.945 3.288 6.583 4.322 4.737c1.98 2.524 4.9 4.058 8.034 4.22a4.137 4.137 0 0 1 1.128-3.86A3.807 3.807 0 0 1 19 5.274a7.657 7.657 0 0 0 2.475-.98c-.29.934-.9 1.729-1.713 2.233A7.54 7.54 0 0 0 22 5.89a8.084 8.084 0 0 1-1.945 2.093Z"></path></svg>
          Follow on Twitter
        </a>
        <a href="#" class="flex gap-4 hover:text-violet-500 transition items-center">
          <svg viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="h-5 w-5"><path d="M12 3c-2.444 0-2.75.01-3.71.054-.959.044-1.613.196-2.185.418A4.412 4.412 0 0 0 4.51 4.511c-.5.5-.809 1.002-1.039 1.594-.222.572-.374 1.226-.418 2.184C3.01 9.25 3 9.556 3 12s.01 2.75.054 3.71c.044.959.196 1.613.418 2.185.23.592.538 1.094 1.039 1.595.5.5 1.002.808 1.594 1.038.572.222 1.226.374 2.184.418C9.25 20.99 9.556 21 12 21s2.75-.01 3.71-.054c.959-.044 1.613-.196 2.185-.419a4.412 4.412 0 0 0 1.595-1.038c.5-.5.808-1.002 1.038-1.594.222-.572.374-1.226.418-2.184.044-.96.054-1.267.054-3.711s-.01-2.75-.054-3.71c-.044-.959-.196-1.613-.419-2.185A4.412 4.412 0 0 0 19.49 4.51c-.5-.5-1.002-.809-1.594-1.039-.572-.222-1.226-.374-2.184-.418C14.75 3.01 14.444 3 12 3Zm0 1.622c2.403 0 2.688.009 3.637.052.877.04 1.354.187 1.67.31.421.163.72.358 1.036.673.315.315.51.615.673 1.035.123.317.27.794.31 1.671.043.95.052 1.234.052 3.637s-.009 2.688-.052 3.637c-.04.877-.187 1.354-.31 1.67-.163.421-.358.72-.673 1.036a2.79 2.79 0 0 1-1.035.673c-.317.123-.794.27-1.671.31-.95.043-1.234.052-3.637.052s-2.688-.009-3.637-.052c-.877-.04-1.354-.187-1.67-.31a2.789 2.789 0 0 1-1.036-.673 2.79 2.79 0 0 1-.673-1.035c-.123-.317-.27-.794-.31-1.671-.043-.95-.052-1.234-.052-3.637s.009-2.688.052-3.637c.04-.877.187-1.354.31-1.67.163-.421.358-.72.673-1.036.315-.315.615-.51 1.035-.673.317-.123.794-.27 1.671-.31.95-.043 1.234-.052 3.637-.052Z"></path><path d="M12 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6Zm0-7.622a4.622 4.622 0 1 0 0 9.244 4.622 4.622 0 0 0 0-9.244Zm5.884-.182a1.08 1.08 0 1 1-2.16 0 1.08 1.08 0 0 1 2.16 0Z"></path></svg>
          Follow on Intagram
        </a>
        <a href="#" class="flex gap-4 hover:text-violet-500 transition items-center">
          <svg viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.475 2 2 6.588 2 12.253c0 4.537 2.862 8.369 6.838 9.727.5.09.687-.218.687-.487 0-.243-.013-1.05-.013-1.91C7 20.059 6.35 18.957 6.15 18.38c-.113-.295-.6-1.205-1.025-1.448-.35-.192-.85-.667-.013-.68.788-.012 1.35.744 1.538 1.051.9 1.551 2.338 1.116 2.912.846.088-.666.35-1.115.638-1.371-2.225-.256-4.55-1.14-4.55-5.062 0-1.115.387-2.038 1.025-2.756-.1-.256-.45-1.307.1-2.717 0 0 .837-.269 2.75 1.051.8-.23 1.65-.346 2.5-.346.85 0 1.7.115 2.5.346 1.912-1.333 2.75-1.05 2.75-1.05.55 1.409.2 2.46.1 2.716.637.718 1.025 1.628 1.025 2.756 0 3.934-2.337 4.806-4.562 5.062.362.32.675.936.675 1.897 0 1.371-.013 2.473-.013 2.82 0 .268.188.589.688.486a10.039 10.039 0 0 0 4.932-3.74A10.447 10.447 0 0 0 22 12.253C22 6.588 17.525 2 12 2Z"></path></svg>
          Follow on GitHub
        </a>
        <a href="#" class="flex gap-4 hover:text-violet-500 transition items-center">
          <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5"><path d="M18.335 18.339H15.67v-4.177c0-.996-.02-2.278-1.39-2.278-1.389 0-1.601 1.084-1.601 2.205v4.25h-2.666V9.75h2.56v1.17h.035c.358-.674 1.228-1.387 2.528-1.387 2.7 0 3.2 1.778 3.2 4.091v4.715zM7.003 8.575a1.546 1.546 0 01-1.548-1.549 1.548 1.548 0 111.547 1.549zm1.336 9.764H5.666V9.75H8.34v8.589zM19.67 3H4.329C3.593 3 3 3.58 3 4.297v15.406C3 20.42 3.594 21 4.328 21h15.338C20.4 21 21 20.42 21 19.703V4.297C21 3.58 20.4 3 19.666 3h.003z"></path></svg>
          Follow on Linkedin
        </a>
      </div>

    </div>
  </aside>

  <div class="flex my-8 sticky top-8 gap-4 font-medium justify-center text-violet-500 text-base [&>*]:rounded-full [&>*]:px-4 [&>*]:shadow-md [&>*]:shadow-slate-400/20 [&>*]:py-1">
    <a href="#" class="bg-violet-600 text-white">All</a>
    <a href="#" class="bg-white">Book</a>
    <a href="#" class="bg-white">Newsletter</a>
  </div>

  <div class="space-y-20 pt-20">

    <section class="bg-white border-2 border-slate-200/60 px-12 xl:px-40 py-16 text-center rounded-3xl">

      <div class="bg-red-600 -mt-20 text-left shadow-md shadow-slate-800/20 rounded-md relative overflow-hidden mb-10 pt-10 p-4 text-white self-start aspect-[3/4] shrink-0 w-44 lg:w-64 mx-auto">
        <%= image_tag("/books/overlay.png", alt: "", class: "absolute mix-blend-multiply inset-0") %>
        <p class="text-base lg:pl-4">David Colby</p>
        <p class="font-bold mt-10 leading-tight text-lg lg:text-xl lg:pl-4 font-custom">Hotwired ATS: Modern, full-stack Rails 7 development</p>
      </div>

      <a href="#" class="flex gap-2 justify-center text-left items-center mb-4">
        <img src="https://www.colby.so/public/images/headshot.jpg" alt="" class="w-10 h-10 shadow-md border-2 border-white shadow-slate-900/10 border border-slate-800/20 rounded-full">
        <span class="hover:opacity-80 font-custom font-medium">David Colby</span>
      </a>

      <h2 class="text-3xl mb-4 max-w-lg mx-auto font-custom font-bold">
      <a href="#" class="hover:text-violet-500">
        Hotwired ATS: Modern, full-stack Rails 7 development
      </a>
      </h2>

      <div class="flex gap-2 mb-8 text-sm justify-center [&>*]:border [&>*]:border-amber-400/20 [&>*]:bg-amber-300/10 text-amber-600 [&>*]:rounded-lg [&>*]:px-3 [&>*]:py-1">
        <a href="#" class="hover:bg-amber-300/20">Ruby on Rails 7</a>
        <a href="#" class="hover:bg-amber-300/20">Turbo</a>
        <a href="#" class="hover:bg-amber-300/20">Stimulus</a>
      </div>

      <p class="max-w-xl mx-auto mb-8">Hotwired ATS is a step-by-step tutorial for Ruby on Rails developers interested in learning more about the modern Rails 7 stack: Turbo, Stimulus, CableReady, and StimulusReflex.</p>

      <div class="flex flex-col lg:flex-row gap-4 justify-center [&>*]:rounded-lg [&>*]:shadow-sm [&>*]:px-6 [&>*]:py-3 [&>*]:font-medium">
        <a href=max-w-3xl mx-auto "#" class="bg-amber-100 border border-amber-200/60 hover:-translate-y-2 hover:shadow-slate-200/40 hover:shadow-lg transition-all duration-300 flex gap-2 justify-center items-center">
          Get Lifetime Access for $70
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
        </a>
            <a href="#" class="bg-white border border-slate-200 hover:-translate-y-2 hover:shadow-slate-200/40 hover:bg-slate-50 hover:shadow-lg transition-all duration-300">Details</a>
      </div>

    </section>

    <section class="bg-gradient-to-bl mt-40 from-teal-700 via-teal-700 to-teal-500 isolate relative px-8 xl:px-20 py-8 xl:py-16 rounded-3xl">

      <span class="absolute bottom-0 -z-40 left-4 text-teal-800/20 leading-none text-[5.5em] font-black">Podcast</span>

      <div class="grid lg:grid-cols-5 gap-8 lg:gap-16">
        <div class="lg:col-span-3">
          <div class="flex gap-2 items-center text-white mb-8">
            <img src="https://andrewm.codes/assets/images/main-avatar.png" alt="" class="w-10 h-10 shadow-md shadow-teal-900/50 rounded-full">
            <%= image_tag("/tmp/julie.jpg", class: "w-10 -ml-4 h-10 shadow-md shadow-teal-900/50 rounded-full") %>
            <div>
              <span class="text-sm block opacity-80 leading-none">Authors</span>
              <a href="#" class="hover:opacity-80 font-custom font-medium">Anrew Mason</a>,
              <a href="#" class="hover:opacity-80 font-custom font-medium">Julie J</a>
            </div>
          </div>

          <span class="bg-white mb-2 text-teal-700 font-bold rounded-full mx-auto text-sm px-4 py-1 hidden inline-block">Podcast</span>
          <h2 class="text-4xl mb-2 font-custom text-white font-bold">Ruby for All</h2>

          <p class="mb-8 text-white ">Each week we discuss topics ranging from Ruby, Ruby on Rails, learning, how to be a better developer, and more. The focus is on providing a podcast that caters to junior Ruby on Rails developers.</p>

          <div class="flex flex-col text-center font-custom lg:flex-row gap-4 [&>*]:rounded-lg [&>*]:shadow-md [&>*]:px-6 [&>*]:py-3 [&>*]:font-medium">
            <a href=max-w-3xl mx-auto "#" class="bg-amber-100 hover:-translate-y-2 hover:shadow-lg transition-all duration-300 flex gap-2 justify-center items-center">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M3 18V12C3 9.61305 3.94821 7.32387 5.63604 5.63604C7.32387 3.94821 9.61305 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12V18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M21 19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H18C17.4696 21 16.9609 20.7893 16.5858 20.4142C16.2107 20.0391 16 19.5304 16 19V16C16 15.4696 16.2107 14.9609 16.5858 14.5858C16.9609 14.2107 17.4696 14 18 14H21V19ZM3 19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H6C6.53043 21 7.03914 20.7893 7.41421 20.4142C7.78929 20.0391 8 19.5304 8 19V16C8 15.4696 7.78929 14.9609 7.41421 14.5858C7.03914 14.2107 6.53043 14 6 14H3V19Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>

              Listen
            </a>
            <a href="#" class="bg-white hover:-translate-y-2 hover:bg-slate-50 hover:shadow-lg transition-all duration-300">Details</a>
          </div>

        </div>

        <div class="lg:col-span-2 order-first lg:order-last flex lg:flex-col">
          <%= image_tag("/podcasts/ruby-for-all.png", class: "mx-auto mb-8 shrink-0 aspect-square rounded-xl shadow-2xl shadow-teal-900/20 w-72") %>
          <div class="text-white text-center hidden">
            <dl class="flex flex-col xl:flex-row gap-4 xl:gap-10 justify-center">
              <div>
                <dt class="font-custom text-4xl text-teal-200 font-bold">7+</dt>
                <dd class="text-sm text-teal-200/50">episodes</dd>
              </div>
              <div>
                <dt class="font-custom text-4xl text-teal-200 font-bold">≈25<span class="text-base">min</span></dt>
                <dd class="text-sm text-teal-200/50">episode length</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>

    </section>


    <section class="bg-gradient-to-bl from-violet-700 via-violet-700 to-violet-500 isolate relative px-8 border border-violet-700/20 overflow-hidden xl:px-20 py-16 rounded-3xl">

      <%= image_tag("/newsletter/promo/short-ruby.png", class: "absolute -z-30 -top-10 -rotate-12 left-3/4 scale-75 lg:left-2/4 lg:-top-40") %>

      <span class="absolute bottom-0 -z-40 left-4 text-violet-800/50 leading-none text-[5.5em] font-black">Newsletter</span>

      <div class="flex gap-2 items-center text-white mb-8">
        <img src="https://ghinda.com/assets/images/lucian-ghinda.jpg" alt="" class="w-10 h-10 shadow-md shadow-violet-900/50 rounded-full">
        <div>
          <span class="text-sm block opacity-80 leading-none">Author</span>
          <a href="#" class="hover:opacity-80 font-custom font-medium">Lucian Ghinda</a>
        </div>
      </div>

      <span class="bg-white mb-2 text-violet-700 font-bold rounded-full mx-auto text-sm px-4 py-1 hidden inline-block">Newsletter</span>
      <h2 class="text-4xl mb-2 font-custom text-white font-bold">Short Ruby</h2>

      <p class="mb-8 text-white w-3/4 lg:w-1/2">A weekly newsletter about what happens in Ruby world (mainly on Twitter)</p>

      <div class="flex flex-col text-center font-custom lg:flex-row gap-4 [&>*]:rounded-lg [&>*]:shadow-md [&>*]:px-6 [&>*]:py-3 [&>*]:font-medium">
        <a href=max-w-3xl mx-auto "#" class="bg-amber-100 hover:-translate-y-2 hover:shadow-lg transition-all duration-300 flex gap-2 justify-center items-center">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="#1E293B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M22 6L12 13L2 6" stroke="#1E293B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
          Subscribe</a>
        <a href="#" class="bg-white hover:-translate-y-2 hover:bg-slate-50 hover:shadow-lg transition-all duration-300">Details</a>
      </div>

    </section>




  </div>
</div>
