<div class="p-20 rounded-3xl border border-white/20" id="buy">
  <h2 class="text-4xl font-bold font-custom mb-20">Where to Buy</h2>

  <div class="grid grid-cols-2 gap-10">

  <% if @book.getBookOnAmazonUrl.present? %>
    <%= link_to @book.getBookOnAmazonUrl, target: '_blank', class: "bg-red-600 hover:scale-110 duration-300 shadow-xl group shadow-red-700/30 font-custom text-3xl p-10 flex justify-between items-center rounded-2xl" do %>
    Amazon
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 group-hover:translate-x-4 transition-all duration-300 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path> </svg> 
    <% end %>
  <% end %>


  <% if @book.getBookOnSiteUrl.present? %>
    <%= link_to @book.getBookOnSiteUrl, target: '_blank', class: "bg-red-600 hover:scale-110 duration-300 shadow-xl group shadow-red-700/30 font-custom text-3xl p-10 flex justify-between items-center rounded-2xl" do %>
      <%= @book.getBookOnSiteTitle %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 group-hover:translate-x-4 transition-all duration-300 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path> </svg> 
    <% end %>
  <% end %>
  </div>
</div>
