<div class="p-20 text-stone-800 rounded-3xl bg-white">
  <h2 class="text-4xl font-bold font-custom mb-20">About this Book</h2>

  <div class="leading-relaxed gap-16">
    <div class="first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-slate-900 first-letter:mr-3 first-letter:float-left">
      <%= @book.content %>
    </div>
  </div>
</div>
