<div class="grid  grid-cols-1 lg:grid-cols-5 gap-4 md:gap-10 xl:gap-16">

  <div class="lg:col-span-5 lg:mb-20">
    <h1 class="font-bold mb-5 font-custom text-5xl">Books about Ruby & Ruby on Rails</h1>
    <p class="max-w-2xl">The most complete collection of books about Ruby, Ruby on Rails, and all the technologies related to them.</p>
  </div>

  <div class="lg:col-span-4 order-last lg:order-none">
    <%= render "shared/book_list" %>
  </div>

  <div class="lg:col-span-1 text-lg lg:text-base">
    <p class="font-bold mb-4">I want to learn</p>
    <span class="flex lg:flex-col flex-wrap gap-x-4 lg:gap-2">
      <%= @tags.map { |t| link_to(t.title, t, class: "text-red-500 hover:text-red-600") }.join(" ").html_safe %>
    </span>
  </div>

</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_book_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
