<div class="grid px-10 grid-cols-1 lg:grid-cols-5 gap-4 lg:gap-20">

  <div class="lg:col-span-2">
    <h1 class="font-bold font-custom text-3xl lg:text-8xl max-w-xl lg:mb-20">Books about Ruby & Ruby on Rails</h1>

    <div class="sticky top-5">
      <p class="font-bold mb-4">I want to learn</p>
      <span class="flex flex-wrap gap-1">
        <%= @tags.map { |t| link_to(t.title, t, class: "text-red-500 mix-blend-multiply bg-slate-700/5 hover:bg-red-200/50 px-3 py-1 hover:text-red-600") }.join(" ").html_safe %>
      </span>
    </div>
  </div>

  <%= render "shared/book_list" %>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to new_book_path, class: "fixed bottom-10 right-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
  <% end %>
<% end %>
