<% content_for :hero do %>
  <%= render "shared/page_title", title: "What would you like to learn more about? ", description: "If you're looking to learn more about programming, we've got a few resources that might interest you. Whatever your interest, we're sure we can find a book or course that's perfect for you.", count: "#{Tag.count} topics"  %>
<% end %>

<% content_for :content do %>
  <h2 class="h2 mb-8">All Topics</h2>
  <%= render partial: "tags/list", locals: { list: @tags } %>
<% end %>




