<div class="flex 2xl:gap-20">

  <div class="space-y-20 px-5 sm:p-10">
  <%= render Layout::TwoColumnsComponent.new(title: "#{@tags.count} topics for learning") do |c| %>
    <%= c.with_data do %>
      <p>Choose a topic, and we'll suggest books where you can learn more about it</p>
    <% end %>
  <% end %>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
    <%= render (TagsCardComponent.with_collection(@tags)) %>
  </div>
  </div>

</div>

<div class="fixed bottom-10 right-10 flex gap-10">
  <% if current_user.try(:admin?) %>
    <%= link_to new_tag_path  do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
    <% end %> 
  <% end %>
</div>

