<h1 class="font-bold font-custom text-5xl max-w-xl mb-20">Want to learn</h1>

<div class="fixed bottom-10 right-10 flex gap-10">
  <% if current_user.try(:admin?) %>
    <%= link_to new_tag_path  do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-red-500" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" /> </svg>
    <% end %> 
  <% end %>
</div>

<div class="space-y-5">
  <% @tags.each do |tag| %>
    <p class="text-4xl hover:text-stone-300 font-custom">
    <%= link_to tag.title, tag %>
    </p>
  <% end %>
</div>
