<div class="grid px-10 grid-cols-1 lg:grid-cols-5 gap-4 lg:gap-20">
  <div class="lg:col-span-2">
    <%= render "shared/breadcrumbs", title: "All Themes", path: tags_path, current_title: @tag.title %>

    <h1 class="font-bold font-custom text-3xl lg:text-8xl lg:max-w-xl text-slate-500 lg:mb-20">Books about <span class="text-slate-700"><%= @tag.title.capitalize() %></span></h1>
  </div>
  
  <%= render "shared/book_list" %>

</div>

