<div class="mb-20 max-w-4xl mx-auto">

  <%#= render "shared/btn_random", title: "Screencast" %>

  <%= render "shared/page_title", title: "Collection of screencasts about Ruby and Ruby on Rails", description: "If you're looking for some helpful resources on learning Ruby and Ruby on Rails development, I recommend checking out some screencast tutorials. There's a lot of great information out there that can help you get started and become a better developer. Happy learning!" %>

  <%= render "shared/suggestions_books" %>

  <div class="flex flex-col gap-8">
    <%= render partial: "shared/screencast_card", collection: @screencasts, as: :screencast %>
  </div>

</div>

<%= render "shared/btns_add" %>
