<% content_for :hero do %>
  <%= render "shared/page_title", title: "Courses about Ruby and Ruby on Rails", description: "Our collection of Ruby and Ruby on Rails courses cover everything from the basics to advanced topics like metaprogramming and web scraping. Courses will show you how to build powerful, production-ready web applications with this popular framework. Best of all, you can find courses for free. Ready to get started?", count: "#{Course.count} courses"  %>
<% end %>

<% content_for :content do %>
  <h2 class="h2 mb-8">All Courses</h2>
  <%= render partial: "courses/list", locals: { list: @courses } %>
<% end %>



