<h1 class="font-bold mb-5 font-custom text-5xl"><%= @books.count %> free books about Ruby & Ruby on Rails</h1>
<p class="max-w-xl mb-10 md:mb-20">There are a lot of good books about Ruby and Ruby on Rails. And many books you can read for free</p>

<div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-4 md:gap-10 xl:gap-16">

  <div class="lg:col-span-2 xl:col-span-2 order-2 lg:order-first grid lg:grid-cols-2 2xl:grid-cols-3 gap-4">

<% @books.each do |book| %>
  <%= link_to books_free_path(book), class: "border bg-red-50/30 rounded-sm hover:bg-red-50 border-red-100 p-5 flex justify-between gap-4 group relative" do %>
    <div>
      <h3 class="font-medium font-custom text-red-500 hover:text-red-600 text-2xl leading-tight">
        <%= book.title %>
      </h3>
      <span class="font-normal text-lg text-slate-700">
        by <%= book.authors.map(&:name).join(", ") %>
      </span>
    </div>
    <% if book.free %>
      <span class="text-sm bg-green-500 font-bold absolute -top-1 -right-1 self-start text-white px-2 w-auto inlin-block py-1">Free </span>
    <% else %>
    <svg width="20" height="20" viewBox="0 0 20 20" class="group-hover:text-red-500 text-red-300 shrink-0"  fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14 3H19V15H13.9051C13.0148 15 12.1704 15.3955 11.6005 16.0794L10 18V6C10 3.84153 12.037 3 14 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> <path d="M6 3H1V15H6.09488C6.98521 15 7.82956 15.3955 8.39954 16.0794L10 18V6C10 3.84153 7.963 3 6 3Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
    <% end %>
  <% end %>
<% end %>

  </div>


</div>

