<section class="text-white bg-gradient-to-b from-red-700 to-red-400 p-5 md:p-10 lg:p-12 relative overflow-hidden ">

  <p class="xl:col-span-5 mb-4 leading-none md:mb-8">
    <span class="font-medium text-2xl">This week recomendation </span>
    <br/><span class="opacity-80 text-base">about Ruby & Ruby on Rails</span>
  </p>

  <div class="flex gap-10">
    <div>
       <%= render BookCoverComponent.new(book: book) %> 
    </div>
    <div>adsf</div>
  </div>

</section>
