<% content_for :hero do %>
  <%= render "shared/page_title", title: "Podcasts about Ruby and Ruby on Rails", description: "If you're looking for some interesting podcasts to listen to on your commute or while you're working out, check out our list of the best Ruby, Ruby on Rails, and programming podcasts. From fun discussions about life as a programmer to in-depth interviews with Ruby on Rails experts, these podcasts have something for everyone.", count: "#{Podcast.count} podcasts"  %>
<% end %>
<% content_for :content do %>
  <%= render SearchTermComponent.new(search_term: params[:search_term]) %>
  <div class="flex flex-wrap justify-between mb-8 xl:mb-16 gap-x-8 gap-y-2 md:gap-8">
    <div>
      <h2 class="mb-8 h2">All Podcasts</h2>
    </div>
    <div>
      <%= render SearchComponent.new(path: podcasts_path, search_term: params[:search_term]) %>
    </div>
  </div>
  <%= render partial: "podcasts/list", locals: { list: @podcasts } %>
<% end %>
